$primary-text-color: #212121;
$secondary-text-color: #757575;
$primary-bg-color: #ffffff;
$primary-accent-color: #2196f3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
